@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,600&display=swap');


 

*{
    box-sizing: border-box;
    font-family: Poppins, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    color: rgb(43, 43, 43);
}

h1{
    font-size: 3rem;
    font-weight: 400;
}

p{
    font-size: 1.2rem;
}

section {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

#first-sctn{
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}

#second-sctn{
    background-color: aliceblue;
}

/* invisible box for the arrows */
.scroll-down {
    bottom: 9px;
    cursor: pointer;
    height: 50px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 30px;
}

/*Creating the arrows*/
.scroll-down::before,
.scroll-down::after{
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  border: 1.5px solid black;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -50%) rotate(45deg);
  border-left: transparent;
  border-top: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}

/*separating the arrows*/
.scroll-down::after{
    animation-delay: .3s;
    top: 30%;
}

/*arrows animation*/
@keyframes scroll-down{
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 90%
    }
}


/*animation for the second section*/

.scroll-up {

    cursor: pointer;
    height: 50px;
    left: 50%;
    position: absolute;
    top: 100vh;
    transform: translate(-50%);
    width: 30px;
}


.scroll-up::before,
.scroll-up::after{
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  border: 1.5px solid black;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -50%) rotate(45deg);
  border-bottom: transparent;
  border-right: transparent;
  animation: scroll-up 1s ease-in infinite;
}

.scroll-up::after{
    animation-delay: .3s;
    bottom: 30%;
}


@keyframes scroll-up{
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 90%
    }
}

@media screen and (max-width: 1300px){
    .container {
        text-align: center;
    }

    h1{
        font-size: 2.5rem;
    }
    
    p{
        font-size: 1rem;
    }
}